<div navpanel></div>
<div class="container">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-7 text-sm-left">
      <h2>{{product.name}}</h2>
    </div>
    <div class="col-sm-3 text-sm-left">
      <h4 class="text-muted">{{product.price}}$</h4>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-block">
          <p class="card-text">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2 text-sm-center">
      <div class="row">
        <div class="col-sm-5">
          <a href="products/{{product.id}}/edit" class="btn btn-success">Edit</a>
        </div>
        <div class="col-sm-6">
          <a href="#" ng-click="remove_product()" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>
