<div navpanel></div>
<div class="container">
  <div class="row">
  <h1 class="text-sm-center">Products</h1>
    <div>
      <div class="col-sm-6">
        <h4 class="text-sm-center">Create new</h4>
        <form name="new_product">
          <div class="form-group">
            <input type="text" class="form-control" id="name" ng-model="product.name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="price" ng-model="product.price" placeholder="Price">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="description" ng-model="product.description" placeholder="Description" required></textarea>
          </div>
          <button type='button' class="btn btn-primary pull-sm-right" ng-disabled="new_product.$invalid" ng-click="create_product(product)">Submit</button>
        </form>
      </div>
      <div class="col-sm-6 text-sm-center">
        <h4 class="text-muted" ng-hide="products.length">Here created by you products will be</h4>
        <h4 class="text-default" ng-show="products.length">Your last products</h4>
        <div class="row">
          <div class="card text-sm-left" ng-repeat="product in products">
            <div class="card-block">
              <div class="col-sm-10">
                <a href="products/{{product.id}}" class="card-title card-link">{{product.name}}</a>
              </div>
              <div class="col-sm-2">
                <span class="tag tag-primary" style="font-size:17px;">{{product.price}}$</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
