<!DOCTYPE html>
<html>
  <head>
    <title>PLA</title>
    <base href="/">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body ng-app="pla">
    <div ng-view>
      <%= yield %>
    </div>
  </body>
</html>
